@model InternetDetails

@{
    ViewBag.Title = "Информация интернет услуга";
}

<div class="text-start">

    <p class="mb-0 text-start">План @Model.Name</p>
    <p class="mb-0 text-start">Цена @Model.Price</p>
    <p class="mb-0 text-start">Активна услуга до : @Model.ActiveUntilDate</p>
    <p class="mb-0 text-start">MAC @Model.RouterMAC</p>

    <form method="get">
    <a href ="/Internet/Edit/@Model.Id"  class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Редактиране</a>
    </form>

</div>