
@model SatelliteFormModel

@{
    ViewBag.Title = "Добавяне на сателитна телевизия";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">

    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">

        <form method="post">

            <div class="form-group">

                <label asp-for="Name"></label>

                <input asp-for="Name" class="form-control" placeholder="Модел на устройството">

                <span asp-validation-for="Name" class="small text-danger"></span>

            </div>
            <div class="form-group">

                <label asp-for="CivilNumber"></label>

                <input asp-for="CivilNumber" class="form-control" placeholder="ЕГН">

                <span asp-validation-for="CivilNumber" class="small text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="SerialNumber"></label>

                <input asp-for="SerialNumber" class="form-control" placeholder="3000000 - 3999999">

                <span asp-validation-for="SerialNumber" class="small text-danger"></span>

            </div>



            <div class="form-group">

                <label asp-for="ProductModelId"></label>

                <select asp-for="ProductModelId" class="form-control">

                    @foreach (var product in Model.Product)

                    {

                        <option value="@product.Id">@product.Name - @product.Price лв</option>
                      
                     

                    }

                </select>

                <span asp-validation-for="ProductModelId" class="small text-danger"></span>

            </div>

            <div class="text-center">

                <input class="btn btn-primary mt-3" type="submit" value="Save" />

            </div>

        </form>

    </div>

</div>