@model IPTVFormModel

@{
    ViewBag.Title = "Добавяне на интернет";
}

<div class="col-lg-4 mb-5 mb-lg-0">
    <div class="bg-white p-5 rounded-lg shadow">
        <h1 class="h10 text-uppercase font-weight-bold mb-4">IPTV</h1>

        <div class="custom-separator my-4 mx-auto bg-primary"></div>

        <ul class="list-unstyled my-5 text-small text-left">
            <li class="mb-0">
                <i class="fa fa-check mr-2 text-primary"></i><a href="#" class="btn  p-2 rounded-pill">Старт - 9.99лв</a>
            </li>
            <li class="h5 mb-0">
                <i class="fa fa-check mr-2 text-primary"></i>Добавяне на пакети:
            </li>
            <li class="mb-0">
                <i class="fa fa-check mr-2 text-primary"></i><a href="#" class="btn  p-2 rounded-pill"> Филми - 5.99лв</a>
            </li>
            <li class="mb-0">
                <i class="fa fa-check mr-2 text-primary"></i><a href="#" class="btn  p-2 rounded-pill"> Спорт - 11.99лв</a>
            </li>
            <li class="mb-0">
                <i class="fa fa-check mr-2 text-primary"></i><a href="#" class="btn  p-2 rounded-pill"> Научнопопулярни - 8.99лв</a>
            </li>
            <li class="mb-0">
                <i class="fa fa-check mr-2 text-primary"></i><a href="#" class="btn  p-2 rounded-pill"> Детски - 3.99лв</a>
            </li>
            <li class="mb-0">
                <i class="fa fa-check mr-2 text-primary"></i><a href="#" class="btn  p-2 rounded-pill"> Еротични - 7.99лв</a>
            </li>
        </ul>
    </div>
</div>