@model ClientFormModel

@{
    ViewBag.Title = "Добавяне на клиент";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
   <partial name="_ClientFormPartial" model="@Model" />




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}